In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
df = pd.read_csv('green_tripdata_2019-10.csv', nrows=100, low_memory=False)

In [4]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-10-01 00:02:53,2019-10-01 00:14:32,N,1,126,74,1,3.10,12.0,0.50,0.5,0.00,0.0,NaN,0.3,13.30,1,1,0.0
96,2,2019-10-01 00:18:45,2019-10-01 00:29:23,N,1,42,74,1,1.64,9.5,0.50,0.5,0.00,0.0,NaN,0.3,10.80,2,1,0.0
97,2,2019-10-01 00:41:32,2019-10-01 00:52:51,N,1,75,42,1,3.17,11.5,0.50,0.5,1.50,0.0,NaN,0.3,14.30,1,1,0.0
98,2,2019-10-01 00:36:54,2019-10-01 00:54:20,N,1,92,179,1,5.48,19.5,0.50,0.5,0.00,0.0,NaN,0.3,20.80,2,1,0.0
99,2,2019-10-01 00:21:27,2019-10-01 00:26:59,N,1,129,129,1,1.02,6.0,0.50,0.5,0.00,0.0,NaN,0.3,7.30,2,1,0.0

In [5]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [6]:
print(pd.io.sql.get_schema(df,name='green_taxi_date'))

CREATE TABLE "green_taxi_date" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://postgres:postgres@127.0.0.1:5433/ny_taxi')

In [9]:
engine.connect()

In [15]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=10000, low_memory=False)

In [16]:
df = next(df_iter)

In [17]:
len(df)

10000

In [18]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [20]:
df.to_sql('green_taxi_data', con=engine, if_exists='replace')

1000

In [21]:
df.head(n=0).to_sql('green_taxi_data', con=engine, if_exists='replace')

0

In [22]:
%time df.to_sql('green_taxi_data', con=engine, if_exists='append')

CPU times: user 702 ms, sys: 0 ns, total: 702 ms
Wall time: 1.09 s

1000

In [23]:
from time import time

In [24]:
while True:
    t_start = time()
    df = next(df_iter)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql('green_taxi_data', con=engine, if_exists='append')

    t_end = time()
    print('inserted another chunk ..., took %.3f seconds' % (t_end - t_start))

inserted another chunk ..., took 0.974 seconds
inserted another chunk ..., took 0.906 seconds
inserted another chunk ..., took 0.899 seconds
inserted another chunk ..., took 0.957 seconds
inserted another chunk ..., took 0.871 seconds
inserted another chunk ..., took 0.914 seconds
inserted another chunk ..., took 1.048 seconds
inserted another chunk ..., took 1.022 seconds
inserted another chunk ..., took 1.082 seconds
inserted another chunk ..., took 1.274 seconds
inserted another chunk ..., took 1.083 seconds
inserted another chunk ..., took 1.112 seconds
inserted another chunk ..., took 1.230 seconds
inserted another chunk ..., took 1.389 seconds
inserted another chunk ..., took 1.292 seconds
inserted another chunk ..., took 1.288 seconds
inserted another chunk ..., took 1.164 seconds
inserted another chunk ..., took 1.340 seconds
inserted another chunk ..., took 1.554 seconds
inserted another chunk ..., took 1.834 seconds
inserted another chunk ..., took 1.599 seconds
inserted another chunk ..., took 1.495 seconds
inserted another chunk ..., took 1.468 seconds
inserted another chunk ..., took 1.604 seconds
inserted another chunk ..., took 1.681 seconds
inserted another chunk ..., took 1.632 seconds
inserted another chunk ..., took 1.380 seconds
inserted another chunk ..., took 1.001 seconds
inserted another chunk ..., took 1.051 seconds
inserted another chunk ..., took 1.013 seconds
inserted another chunk ..., took 1.002 seconds
inserted another chunk ..., took 1.123 seconds
inserted another chunk ..., took 0.974 seconds
inserted another chunk ..., took 1.142 seconds
inserted another chunk ..., took 1.110 seconds
inserted another chunk ..., took 1.208 seconds
inserted another chunk ..., took 1.169 seconds
inserted another chunk ..., took 1.090 seconds
inserted another chunk ..., took 0.940 seconds
inserted another chunk ..., took 1.140 seconds
inserted another chunk ..., took 1.092 seconds
inserted another chunk ..., took 0.931 seconds
inserted another chunk ..., took 1.188 seconds
inserted another chunk ..., took 1.106 seconds
inserted another chunk ..., took 1.023 seconds
inserted another chunk ..., took 1.039 seconds
inserted another chunk ..., took 0.861 seconds

StopIteration: